@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;  
  padding: 0;
}
html {
    font-size: 62.5%;
    line-height: 1.5;
    color:#333;
    letter-spacing: .04em;
}
body {
    font-size: 1.6rem;
}

/* リセット */
a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

/*サンプル設置のための簡易装飾*/
.section {
    &__inner {
        padding: 16px 0;
        width: fit-content;
        margin: auto;
    }
}

.content {
    padding: 0 16px;
    background: #e3e3e3;
    // &__head {
        
    // }
    &__main {
        padding: 16px 0;
    }
}

/* Splideへのカスタムスタイルここから ===== */
/* ルート要素 */
.splide { 
  margin: auto;
    // &__track {

    // }

    // &__list {
        
    // }

    &__slide {
        img {
            width: 100%;
            height: auto;
        }
    }

    // ページネーションのラッパー
    &__pagination {
        gap: 16px;
        padding: 8px 0 0;
    }

    &__pagination__page {
        background: #95a5a6;
        border: 0;
        border-radius: 50%;
        display: inline-block;
        height: 16px;
        margin: 0 .1rem;
        padding: 0;
        position: relative;
        transition: background-color .2s ease, color .2s ease;
        width: 16px;
        cursor: pointer;
    }
    // 表示されているスライドに紐づくページネーションへのスタイル(アクティブ)
    &__pagination__page.is-active {
        background: rgb(255, 196, 0);
        pointer-events: none;
    }
}


/* Splideへのカスタムスタイルここまで ===== */

/*
動画エリア
*/
.mov-area__inner {
    width: 100%;
    max-width: 640px;
    margin: auto;
    video {
        width: 100%;
        height: auto;
    }
}